
body {
  font-family: "Segoe UI", sans-serif;
  background: #fff7f0;
  color: #2b1e15;
  margin: 0;
  padding: 0;
}
.search-box {
  display: flex;
  gap: 10px;
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
}

.search-box input {
  flex: 1;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: 0.3s;
}

.search-box input:focus {
  border-color: #ff7a18;
  box-shadow: 0 0 5px rgba(255, 122, 24, 0.5);
  outline: none;
}

.search-box button {
  padding: 14px 30px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #ff7a18, #ffb347);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 122, 24, 0.4);
}


.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 40px 20px;
}

.job-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.12);
}

.job-card h3 {
  margin-bottom: 10px;
  color: #ff7a18;
}

.job-card p {
  margin: 5px 0;
  color: #6f5a4a;
  font-size: 15px;
}
.back-home {
  text-align: left;
  padding: 20px 40px;
}

.back-home a {
  text-decoration: none;
  color: #ff7a18;
  font-weight: 600;
  background: #fff3e0;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.back-home a:hover {
  background: #ff7a18;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255,122,24,0.3);
}
.api-results .job-card {
  border-top: 3px solid #ff7a18;
}


@media (max-width: 480px) {
  .search-box {
    flex-direction: column;
  }
  .search-box button {
    width: 100%;
  }
}
